NOTIFICATION_SERVICE_PORT=8085
AWS_ENDPOINT_URL=http://localhost:4566
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
DYNAMODB_NOTIFICATIONS_TABLE=notifications
DYNAMODB_AUDIT_TABLE=audit_events
SERVER_ENV=development
